@import "../../style/main";

.fetures {
  margin: 5rem 0;
  background-color: rgb(230, 229, 229);
  width: 100%;
  .container {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

    .box {
      background-color: white;
      padding: 1rem 15px;
      display: flex;
      align-items: center;
      gap: 1rem;
      text-transform: capitalize;

      span {
        font-size: 3rem;
      }

      .info {
        p {
          padding-top: 5px;
          font-size: 14px;
          color: $p-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .fetures {
    .container {
      padding: 3rem;
    }
  }
}
