@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBox($direction) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}
